<div class="editar-usuario-container">
    <app-navbar layout="2"></app-navbar>
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <div class="infosUsuario">
            <img [src]="usuarioInfos.avatar" alt="foto de perfil">
            <h1>{{ usuarioInfos.username }}</h1>
            <p>Compartilhe seu gosto musical abaixo, assim todos poderão ver!</p>
        </div>
        <div class="grid-musicas">
            <div *ngFor="let chave of fazerObjectKeys(musicasUsuario)" class="card">
                <h2>{{ textosMusicas[chave] }}</h2>
                <div *ngIf="!musicasUsuario[chave].value">
                    <p>Responda a pergunta acima adicionando o link da música no Spotify.</p>
                    <input type="text" placeholder="link aqui" [(ngModel)]="linksMusicas[chave]">
                    <span *ngIf="linkInvalido[chave]" class="linkInvalido">O link digitado não é válido.</span>
                    <span *ngIf="linkEncurtado[chave]" class="linkEncurtado">
                        <span>O link digitado está encurtado.</span>
                        <p>No app do Spotify, tente clicar em <img src="../../../assets/mais-icone.png"> e depois 'Copiar'.</p>
                        <button (click)="removerLinkEncurtado(chave)">Ok!</button>
                    </span>
                    <button class="btn-card" (click)="colocarMusica(chave, 1)">Decidido!</button>
                </div>
                <div *ngIf="musicasUsuario[chave].value">
                    <iframe style="border-radius:12px" [id]="'iframe-'+chave" [src]="mostrarMusica(chave, musicasUsuario[chave].value)" width="80%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <input type="text" placeholder="link da música atualizada aqui" [(ngModel)]="linksMusicasAtualizadas[chave]">
                    <span *ngIf="linkInvalido[chave]" class="linkInvalido">O link digitado não é válido.</span>
                    <span *ngIf="linkEncurtado[chave]" class="linkEncurtado">
                        <span>O link digitado está encurtado.</span>
                        <p>No app do Spotify, tente clicar em <img src="../../../assets/mais-icone.png"> e depois 'Copiar'.</p>
                        <button (click)="removerLinkEncurtado(chave)">Ok!</button>
                    </span>
                    <button class="btn-card" (click)="colocarMusica(chave, 2)">Atualizar!</button>
                </div>
            </div>
        </div>        
    </div>
    <app-footer></app-footer>
</div>
