<div class="editar-usuario-container">
    <app-navbar layout="2"></app-navbar>
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <div class="infosUsuario">
            <img [src]="usuarioInfos.avatar" alt="foto de perfil">
            <h1>{{ usuarioInfos.username }}</h1>
            <p>Compartilhe seu gosto musical abaixo, assim todos poderão ver!</p>
        </div>
        <div class="grid-musicas">
            <div *ngFor="let musica of musicasUsuario" class="card">
                <h2>{{ textosMusicas[musica.key] }}</h2>
                <div *ngIf="!musica.value">
                    <p>Responda a pergunda acima adicionando o link da musica no Spotify.</p>
                    <input type="text" placeholder="link aqui" [(ngModel)]="linksMusicas[musica.key]">
                    <span *ngIf="linkInvalido[musica.key]" class="linkInvalido">O link digitado não é válido.</span>
                    <span *ngIf="linkEncurtado[musica.key]" class="linkEncurtado">
                        <span>O link digitado está encurtado.</span>
                        <p>No app do spotify, tente clicar em <img src="../../../assets/mais-icone.png"> e depois 'Copiar'.</p>
                        <button (click)="removerLinkEncurtado(musica.key)">Ok!</button>
                    </span>
                    <button class="btn-card" (click)="colocarMusica(musica.key, 1)">Decidido!</button>
                </div>
                <div *ngIf="musica.value">
                    <iframe style="border-radius:12px" [id]="'iframe-'+musica.key" [src]="mostrarMusica(musica.key, musica.value)" width="80%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <input type="text" placeholder="link da musica atualizada aqui" [(ngModel)]="linksMusicasAtualizadas[musica.key]">
                    <span *ngIf="linkInvalido[musica.key]" class="linkInvalido">O link digitado não é válido.</span>
                    <span *ngIf="linkEncurtado[musica.key]" class="linkEncurtado">
                        <span>O link digitado está encurtado.</span>
                        <p>No app do spotify, tente clicar em <span class="texto-centralizado"><img src="../../../assets/mais-icone.png"></span>e depois 'Copiar'.</p>
                        <button (click)="removerLinkEncurtado(musica.key)">Ok!</button>
                    </span>
                    <button class="btn-card" (click)="colocarMusica(musica.key, 2)">Atualizar!</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
