<app-navbar layout="2"></app-navbar>
<div class="loading-overlay" *ngIf="isLoadingDelete">
    <div class="loading-content">
      <p>Deletando música...</p>
    </div>
</div>
<div class="editar-usuario-container">
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <div class="infosUsuario">
            <img [src]="usuarioInfos.avatar" alt="foto de perfil">
            <h1>{{ usuarioInfos.username }}</h1>
            <p>Compartilhe seu gosto musical abaixo, assim todos poderão ver!</p>
        </div>
        <div class="grid-musicas">
            <div *ngFor="let musica of musicasUsuario" class="card">
                <h2>{{ textosMusicas[musica.key] }}</h2>
                <div *ngIf="!musica.value">
                    <p>Responda a pergunda acima adicionando o link da musica no Spotify.</p>
                    <input type="text" placeholder="link aqui" [(ngModel)]="linksMusicas[musica.key]">
                    <button class="btn btn-adicionar" (click)="colocarMusica(musica.key, 1)">Decidido!</button>
                </div>
                <div *ngIf="musica.value">
                    <span class="carregando-txt">Carregando...</span>
                    <iframe style="border-radius:12px; z-index: 100;" [id]="'iframe-'+musica.key" [src]="mostrarMusica(musica.key, musica.value)" width="80%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <input type="text" placeholder="link da musica atualizada aqui" [(ngModel)]="linksMusicasAtualizadas[musica.key]">         
                    <div class="btn-com-musica">
                        <button class="btn btn-atualizar" (click)="colocarMusica(musica.key, 2)">Atualizar!</button>
                        <button class="btn btn-excluir" (click)="excluirMusica(musica.key)">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
