<app-navbar (searchEvent)="filtrarUsuarios($event)" (buttonClickEvent)="resetarFiltro()" layout="1"></app-navbar>
<div class="home-container">
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <h1>Explorar usuários</h1>
        <div class="grid-usuarios" *ngIf="!usuarioNaoEncontrado">
            <div *ngFor="let usuario of (usuariosFiltrados.length > 0 ? usuariosFiltrados : usuarios)" class="card">
                <img [src]="usuario.avatar" alt="foto de perfil">
                <h2>{{ usuario.username }}</h2>
                <button (click)="verPerfil(usuario)">Ver perfil</button>
            </div>
        </div>
        <div *ngIf="usuarioNaoEncontrado" class="usuario-nao-encontrado">
            <h2>Usuário não encontrado :/</h2>
            <p>Pesquise algo diferente ou clique no botão ao lado do campo de pesquisa pra voltar.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
